<div class="text-black mt-5 rounded-end-5 px-3 mx-3 bg-orange w-50">
    <h3>Education</h3>
</div>
<div class="px-4">
    <h5 class="text-blue">Currently Pursuing MCA </h5>
    <b>From Lovely Professional University </b>
    <p>
        Lovely Proessional University is India's top ranked university.
    </p>
</div>
<div class="px-4">
    <h5 class="text-blue"> Graduation -[2019] </h5>
    <b>From HMPG College (Kanpur) </b>
    <p>
        A college degree is not a sign of a finished product but an indication a person is prepared for life.
    </p>
</div>
<div class="px-4">
    <h5 class="text-blue"> Intermediate -[2016]</h5>
    <b>From jalpa Devi Inter College</b>
    <p>
        It is easy to ignore responsibility when one is only an intermediate link in a chain of action.

    </p>
</div>