<div class="text-black mt-5 rounded-end-5 px-3 mx-3 bg-orange w-50">
    <h3>Summary</h3>
</div>
<div class="text black">
    <ul>
        <li>
            <b> To obtain a HTML Developer position that fully utilizes my experience and abilities.To take a
                challenging
                role as a HTML Developer in a highly technical company where I could utilize my skills in web design and
                other metrics tools and use these skills in providing quality service to the company</b>

        </li>
    </ul>
</div>