<div class="bg-white text-black mt-3 rounded-5 px-3 mx-3 ">
    <h3>CONTACT</h3>
</div>

<div class="text-white mt-3 px-3">
    <i class="bi bi-phone "></i>
    +91 7007768628 , +91 8103759909
</div>
<div class="text-white mt-3 px-3">
    <i class="bi bi-house"></i>
    132/146 Babu Purwa T.P Nagar Kanpur,
    Uttar Pradesh
</div>
<div class="text-white mt-3 px-3"><i class="bi bi-envelope"></i>
    <a class="emailBlack link-light" href="zainulabdeen524@gmail.com" target="_blank"> zainulabdeen524@gmail.com</a>
</div>
<div class="text-white mt-3 px-3"><i class="bi bi-linkedin"></i>
    <a class="link-light" href="https://www.linkedin.com/in/zainul-abdeen-b3b085256/" target="_blank">
        Visit linkedIn</a>
</div>