<div class="text-black mt-5 rounded-end-5 px-3 mx-3 bg-orange w-50">
    <h3>Skills</h3>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <ul>
                <li><b>HTML</b></li>
                <li><b>CSS</b></li>
            </ul>
        </div>
        <div class="col">
            <li><b>JavaScript</b></li>
            <li><b>Bootstrap</b></li>
        </div>
        <div class="col">
            <li><b>Angular</b></li>
            <li><b>Git & GitHub</b></li>
        </div>
    </div>
</div>